<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Youtube: ScraperApp</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="table-users">
    <div class="header">Youtube: ScraperApp</div>
    <table cellspacing="0">
      <tr>
        <th>Commenter Name</th>
        <th>Comments</th>
        <th>Likes</th>
      </tr>
         {% for item in data %}
      <tr>
        <td>{{item['commenter_name']}}</td>
        <td>{{item['comment']}}</td>
        <td>{{item['likes']}}</td>
        {% endfor %}
   </table>
</div>
</body>
</html>
